%tr
  %td= ordering_unit.name
  %td= ordering_unit.address.to_formatted_s
  %td= ordering_unit.doctors_count
  %td
  %td
    .dropdown
      %button.btn.btn-info.btn-sm{"aria-expanded" => "true",
      "data-toggle" => "dropdown", :type => "button"}
        = OrderingUnit.human_attribute_name :options
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to t('.edit_ordering_unit'),
            [:edit, ordering_unit]
        %li
          = link_to t('.destroy_ordering_unit'), ordering_unit,
            method: :delete
