.row
  .col-lg-12
    %h1.page-header= t('.title')
%table.table.table-striped.table-bordered.table-hover#ordering_units.table-condensed
  %thead
    %tr
      %th= OrderingUnit.human_attribute_name :name
      %th= OrderingUnit.human_attribute_name :address
      %th= OrderingUnit.human_attribute_name :doctors_count
      %th= OrderingUnit.human_attribute_name :treatments_count
      %th= OrderingUnit.human_attribute_name :options
  %tbody
    = render @ordering_units
= link_to t('.new_ordering_unit'), [:new, :ordering_unit], class: 'btn btn-primary'