.row
  = simple_form_for @treatment do |f|
    = f.input :start_days, as: :hidden
    .col-md-12
      .right
        .panel.panel-primary.treatments_count
          .panel-heading
            .row
              .col-md-3
                %i.fa.fa-medkit.fa-5x
              .col-xs-8.text-right
                .huge.visitation_count 0
                %div= t('.treatments_count')
      .col-md-4
        = f.input :patient_find, as: :string, label_method: :fullname, input_html: { data: {autocomplete_source: autocomplete_patients_path}, value: patient_find_value }
        %a.change_patient= t('.change_patient')
        %br/
        %br/
        = f.input :patient_id, as: :hidden
        = f.association :doctor, as: :radio_buttons, label_method: :fullname_with_specialization
        = f.association :treatment_type, as: :radio_buttons, label_method: :name_with_group_name
        = f.input :medicine
        = render 'start_days' if @treatment.new_record?
        #visitation_times
          = f.association :visitation_times, as: :check_boxes, collection: VisitationTime.nearest_days(@treatment.start_days.days), label_method: :day_with_time_of_day
        #submit= submit_button(f)
