%tr
  %td= patient_fullname_with_pesel(treatment.patient)
  %td= treatment.doctor_fullname_with_specialization
  %td= treatment.treatment_type_name
  %td= treatment.medicine
  %td
    .dropdown
      %a.days#dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown"}
        = t('.see_days')
        %span.caret
      %ul.dropdown-menu
        - treatment.visitation_times.each do |visitation_time|
          %li
            %a= visitation_time.day_with_time_of_day
        %br/
        %p.left= "#{t('.sum')} #{treatment.visitation_times_count}"
  %td
    .dropdown
      %button.btn.btn-info.btn-sm{"aria-expanded" => "true",
      "data-toggle" => "dropdown", :type => "button"}
        = Treatment.human_attribute_name :options
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to t('.edit_treatment'),
            [:edit, treatment]
        %li
          = link_to t('.destroy_treatment'), treatment,
            method: :delete, data: { confirm: "#{t('are_you_sure')}" }
        %li
          = link_to t('.treatment_copy'), [:new, :treatment, copy_from: treatment.id]
