%tr
  %td= patient.fullname
  %td= patient_pesel(patient)
  %td= patient.address_to_formatted_s
  %td= t("sex.#{patient.sex}")
  %td= patient.birth_date
  %td
  %td
    .dropdown
      %button.btn.btn-info.btn-sm{"aria-expanded" => "true",
      "data-toggle" => "dropdown", :type => "button"}
        = OrderingUnit.human_attribute_name :options
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to t('.edit_patient'),
            [:edit, patient]
        %li
          = link_to t('.destroy_patient'), patient,
            method: :delete
