.row
  .col-lg-12
    %h1.page-header= t('.title')
= render "shared/search_form", url: patients_path, placeholder: t('.search_placeholder')
%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th= Patient.human_attribute_name :fullname
      %th= Patient.human_attribute_name :pesel
      %th= Patient.human_attribute_name :address
      %th= Patient.human_attribute_name :sex
      %th= Patient.human_attribute_name :birth_date
      %th= Patient.human_attribute_name :treatments_count
      %th= Patient.human_attribute_name :options
  %tbody#patients
    = render @patients
.pagination
  = paginate @patients, remote: true
%br/
= link_to t('.new_patient'), [:new, :patient], class: 'btn btn-primary'