= simple_form_for @doctor do |f|
  .col-md-4
    = f.input :fullname
    = f.input :specialization
    = f.association :ordering_unit
    = field_set_tag t('.address')
    = render 'address/form', f: f
    = submit_button(f)
