.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li{class: active('ordering_unit')}
        = link_to :ordering_units do
          = fa_icon "hospital-o"
          = t('.ordering_units')
      %li{class: active('doctor')}
        = link_to :doctors do
          = fa_icon "user-md"
          = t('.doctors')
      %li{class: active('treatment_type')}
        = link_to :treatment_types do
          = fa_icon "file"
          = t('.treatment_types')
      %li{class: active('patient')}
        = link_to :patients do
          = fa_icon "users"
          = t('.patients')
      %li{class: active('treatments')}
        = link_to :treatments do
          = fa_icon "medkit"
          = t('.treatments')
      %li{class: active('reports')}
        = link_to :monthly_report do
          = fa_icon "bar-chart"
          = t('.monthly_report')

