.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li{class: active('ordering_unit')}
        = link_to :ordering_units do
          = fa_icon "hospital-o"
          = t('layout.sidebar.ordering_units')
      %li{class: active('doctor')}
        = link_to :doctors do
          = fa_icon "user-md"
          = t('layout.sidebar.doctors')
      %li{class: active('treatment_type')}
        = link_to :treatment_types do
          = fa_icon "file"
          = t('layout.sidebar.treatment_types')
      %li{class: active('patient')}
        = link_to :patients do
          = fa_icon "users"
          = t('layout.sidebar.patients')






